@import url('https://fonts.googleapis.com/css?family=Lora|Pathway+Gothic+One&display=swap');

body {
  font-family: 'Lora', serif;
  background-color: #ececec;
}

h1 {
  font-size: 4rem;
  font-family: 'Pathway Gothic One', sans-serif;
  text-align: center;
}

h2 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 3rem;
  letter-spacing: 2px;
  border-bottom: 1px solid black;
  text-transform: uppercase;
}

a {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.bannerText {
  color: rgb(0, 0, 0);
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
  border: none;
}

.item {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
}

#footer {
  background-color: #CA4A2D;
  margin-top: 5rem;
}

#logoBanner {
  margin: auto;
}

#homePageCards {
  display: flex;
  justify-content: center;
}

#navbar {
  background-color: #CA4A2D;
  margin-bottom: 5rem;
}