@import url('https://fonts.googleapis.com/css?family=Lora|Pathway+Gothic+One&display=swap');

body {
  font-family: 'Lora', serif;
}

.item {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1.5rem;
}